<!DOCTYPE html>
<html>
    <head>
        <title>WebGuesser</title>
    </head>

    <body>

        <h1>Guess the Secret Number!</h1>

        <form>
          <input type="text", name="guess"/>
          <input type='submit', value = "GUESS"/>
        </form>

        <% if @high_guess %>
            <style>body {background-color: red</style>
            <h2><%= @high_guess %></h2>
        <% elsif @low_guess %>
            <style>body { background-color: deepskyblue</style>
            <h2><%= @low_guess %></h2>
        <% else @correct_guess %>
            <style>body { background-color: green</style>
            <h2><%= @correct_guess %></h2>
        <% end %>
    </body>

</html>
