<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Guess the Secret Number!</h1>


        <form>
          <input type="text", name="guess"/>
          <input type='submit', value = "GUESS"/>
        </form>

        <h2><%= @message %></h2>
    </body>

</html>
